---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
     <a href="/">Page d'accueil</a>
     <a href="/contact/">Contacts</a>
		<h1>Lever l'encre</h1>
        <h2> Contacts </h2>
        <p> Pour les moindres questions, demandes et autres besoins, n'hésitez pas à nous contacter. </p>
        <p> responsable du projet : Yseult Chardin </p>
        <p> e-mail : yseult.chardin@sciencespo.fr </p>
	</body>
</html>
